*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 60px;
  background-color: #265a91;
}
.bm {
  width: 320px;
  height: 180px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {

  background-image: url("https://media.metrolatam.com/2019/01/10/ap19008764253286-a695c9c080d4623ffa111fefd08204f2-1200x600.jpg");
  background-repeat:no-repeat center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center

}

main {height: calc(100vh - 60px);}

.olvidaste {

width: 100%;

height: 20px;

color: red;

margin: 10px;
}

.cyc {
  margin: 10px 0 0;
  display: block;
  text-align: left;
  width: 100%;
}

.login {
  width: 100%; /* Cambiar tamaÃ±o a responsive*/
   height: 100%;
}
form{
  
background-color: #ffffffa3;
  
width: 50%;
  
min-width: 320px;
  
flex-direction: column;
  
padding: 40px 30px;
}

.input {

width: 100%;

padding: 9px;

border: solid 0.5px rgb(238, 238, 238);

border-radius: 4px;

margin: 9px auto;
}
.ingresa {

  width: 100%;
  background: linear-gradient(to right, rgb(36, 123, 204), rgb(39, 83, 133));
  color: white;
  padding: 10px;
  margin: 0 0 5px 0;
  border-radius: 4px;
  cursor: pointer;

}
.flags {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.banderas {

  background-repeat: no-repeat;
  width: 90px;
  height: 50px;
  background-size: contain;
}



.tabladedatos {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.tabla{
  background-color: white;
  text-align: center;
  border: 1px solid;
}
.tabla tbody {
    background-color: white;
}
.tabla td:hover{
  background-color: rgb(219, 178, 64);
}
.celda{
  border: solid 1px black;
}
.primerapantalla {
  display: block;
}

.segundapantalla {
  display: none;
}

.segundapantalla.show {
  display: block;
}

.login.hide {
  display: none;
}
