header {
  margin-right: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 550px;
}
.bm {
  width: 320px;
  height: 180px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {

  background-image: url("https://media.metrolatam.com/2019/01/10/ap19008764253286-a695c9c080d4623ffa111fefd08204f2-1200x600.jpg");
  background-repeat:center bottom;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center

}

main {
  flex: 1;
}

.olvidaste {

   width: 100%;
   height: 20px;
   color: red;
   margin: 10px;
}

.cyc {
  margin: 10px 0 0;
  display: block;
  text-align: left;
}

.login {
   margin: auto;
   margin-top: 100px;
   flex-direction: column;
   max-width: 460px;
   width: 350px; /* Cambiar tamaño a responsive*/
   height: 400px;
   padding: 30px 40px 40px 40px;
   background:rgba(255, 255, 255, 0.7);
   border-radius: 5 px;
   box-shadow : 0 0 25px -7px rgba(173, 167, 173, 0.8);
   font-size: 14 px;
}

.input {

  width: 100%;
  padding: 9px;
  margin: 5px;
  border: solid 0.5px rgb(238, 238, 238);
  border-radius: 4px;
}
.ingresa {

  width: 100%;
  background: linear-gradient(to right, rgb(36, 123, 204), rgb(39, 83, 133));
  color: white;
  padding: 10px;
  margin: 0 0 5px 0;
  border-radius: 4px;
  cursor: pointer;

}
.flags {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.banderas {

  background-repeat: no-repeat;
  width: 90px;
  height: 50px;
  background-size: contain;
}



.tabladedatos {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.tabla{
  background-color: white;
  text-align: center;
  border: 1px solid;
}
.tabla tbody {
    background-color: white;
}
.tabla td:hover{
  background-color: rgb(219, 178, 64);
}
.celda{
  border: solid 1px black;
}
.primerapantalla {
  display: block;
}

.segundapantalla {
  display: none;
}

.segundapantalla.show {
  display: block;
}

.login.hide {
  display: none;
}
